@font-face {
    font-family: "JetBrains Mono";
    src: url("@/assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-stretch: 50%;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("@/assets/fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: bold;
    font-stretch: 50%;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("@/assets/fonts/JetBrainsMono-Light.woff2") format("woff2");
    font-weight: light;
    font-stretch: 50%;
}

body {
    font-family: "JetBrains Mono";
}
